.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;

  .table {
    flex: 1;
    margin: 0 10px;
    background-color: var(--bg-main);
  }
}

.row_odd {
  background: var(--table-row-bg2);
}

.row_even {
  background: var(--table-row-bg1);
}
