.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e6e6e6;
  &_form {
    position: absolute;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffffa6;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
  }
}
