.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e6e6e6;
  &_imgs {
    width: 500px;
  }
  &_form {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
