:root {
  /* 中性色 */
  --bg: #15181f;
  --bg-menu: #1d2029;
  --bg-main: #242833;
  --bg-weak: #2d313b;
  --bg-click: rgba(10, 132, 255, 0.05);
  --bg-form: #363943;
  --bg-selected: rgba(10, 132, 255, 0.1);
  --bd: rgba(255, 255, 255, 0.1);
  --bg-mask: rgba(0, 0, 0, 0.6);
  --bg-thumb: rgb(106, 106, 106);

  /* 文本颜色 */
  --font: #fff;
  --font-a60: rgba(255, 255, 255, 0.6);
  --font-a40: rgba(255, 255, 255, 0.4);
  --font-a26: rgba(255, 255, 255, 0.26);
  --font-a10: rgba(255, 255, 255, 0.1);
  --font-invert: #000;
  --font-white: #fff;

  /* 按钮色 */
  --btn: #0a84ff;
  --btn-hover: #3d9eff;
  --btn-active: #075cb2;
  --btn2: #4e515c;
  --btn2-hover: #5b5f6b;
  --btn2-active: #41444d;
  --btn-disabled: #353843;
  --tab-active: #4e515c;

  /* 主题色&功能色 */
  --base: #0a84ff;
  --base-bg: #001933;
  --succee: #30d180;
  --succee-bg: #042112;
  --fail: #ff5a52;
  --fail-bg: #2e1110;
  --warn: #ffa71f;
  --warn-bg: #2b1e0a;
  --note: #ffd60a;
  --note-bg: #262108;
  --status-bg: #1a1a1a;

  /* 分类图表色 */
  ---1: #0a84ff;
  ---2: #64d2ff;
  ---3: #30d180;
  ---4: #ffd60a;
  ---5: #ff5a52;
  ---6: #5e5ce6;
  ---7: #ffa71f;
  ---8: #63e6e2;
  ---9: #bf5af2;
  ---10: #ac8e68;
  /* 列表 */
  --table-row-bg1: #3a3a3a;
  --table-row-bg2: #313131;
}
