html,
body,
#root-master {
  height: 100%;
  font-family: 'SF Pro SC', 'SF Pro Display', 'Noto Sans SC', 'PingFang SC', 'Lantinghei SC',
    'HiraginoSansGB-W3', 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: #f5f8fa;
  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--bg-thumb);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  ::-webkit-scrollbar-corner {
    background: transparent !important;
  }
}
canvas {
  display: block;
}
body {
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}
