// 一般专用于覆盖第三方库样式，其中所有 CSS 选择器都会附加 body 前缀以抬高优先级
.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      white-space: pre-line;
    }
  }
}

.ant-table-container {
  .ant-table-header {
    .ant-table-cell {
      background: var(--table-row-bg2);
    }
  }
  // --------虚拟列表--------
  .ant-table-tbody-virtual-holder-inner
    > .ant-table-row:nth-child(even)
    > .ant-table-cell {
    background: var(--table-row-bg2);
  }

  .ant-table-tbody-virtual-holder-inner
    > .ant-table-row:nth-child(odd)
    > .ant-table-cell {
    background: var(--table-row-bg1);
  }

  .ant-table-tbody-virtual-holder-inner
    > .ant-table-row:hover
    > .ant-table-cell {
    background: var(--table-hover-bg);
  }
  // --------正常列表--------
  .ant-table-tbody > tr.ant-table-row:nth-child(odd) > td {
    background: var(--table-row-bg1);
  }

  .ant-table-tbody > tr.ant-table-row:nth-child(even) > td {
    background: var(--table-row-bg2);
  }

  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: var(--table-hover-bg);
  }
}
